.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(172, 171, 171);
}

.app__navbar-logo {
  display: flex;
  align-items: center;
}

.app__navbar-logo img {
  width: 200px; /* Adjusted size */
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  color: white;
  text-shadow: 3px 3px 5px black, -3px -3px 5px rgba(255, 255, 255, 0.3);
}

.app__navbar-links li:hover {
  color: pink;
  font-size: 25px;
  transition: 1s;
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
  color: white;
  text-shadow: 3px 3px 5px black, -3px -3px 5px rgba(255, 255, 255, 0.3);
}

.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div {
  width: 1px;
  height: 30px;
  background: var(--color-grey);
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-grey);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 50px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 20rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li a:hover {
  color: var(--color-white);
}

/* For very large screens */
@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
    width: 190px; /* Adjusted size */
  }
}

/* For smaller screens */
@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }
  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }
  .app__navbar-login {
    display: none;
  }
  .app__navbar-logo img {
    width: 100px; /* Adjusted size */
  }
}

.app__navbar-links li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600; /* or 700 if you want it bolder */
}
